<h1>Convert <%= @original_currency%></h1>

<p>Go <a href="/">back</a>.</p>

    <ul>
      <% @parsed.each do |key, value|%>
      <li>
        <a href=<%="/#{@original_currency}/#{key}"%>>
          Convert 1 <%= @original_currency %> to <%= key %>...
        </a>
      </li>
      <% end %>
    </ul>
